@use '../global/' as *;

.ChooseUs {
    width: 100svw;
    max-width: 60em;
    margin: 3rem;
}

.containerCardChooseUse {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @media (min-width: $lg) {
        display:grid;
        gap: 1rem;
    }
}

.cardChooseUs {
    width: 100%;
    height: 16rem;
    padding: 1rem;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    color: $color-white;
    background: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $lg) {
        max-width: 42rem;
    }

    div {
        padding: 1rem;

        &:first-child {
            background: $gradient;
            border-radius: 10px;
            padding: 1.5rem;
            font-size: 2.5rem;
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            justify-content: space-around;
            height: 100%;
            h3 {
                text-transform: uppercase;
                font-size: 2.9rem;
                font-family: $title-font;
                font-weight: 800;
                margin-bottom: 1rem;
            }
        }
    }
}