@use '../global/' as *;

.navContainer {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100svw;
    max-width: 60em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    background: $bg-black;
}

.logo {
    a {
        color: $color-white;
        font-family: $title-font;
        font-size: 3rem;
        font-weight: 700;
    }
}

.midSectionNavbar {
    height: 100svh;
    width: 100svw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $secondary;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;

    transition: transform .4s;

    .listNavbar {
        background-color: inherit;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        li,
        a {
            background-color: inherit;
            color: $color-white;
            transition: color .4s;
            font-size: 4rem;
            font-weight: 600;
            &:hover {
                color: $primary;
            }
        }
    }
}

.containerBtnNav {
    display: flex;
    gap: 1.5rem;
}

.socialBarNav {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    gap: 1rem;

    a {
        color: $color-white;
        font-size: 3rem;
        transition: color .4s;

        &:hover {
            color: $primary;
        }
    }
}

.btnMenu {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    div {
        width: 3rem;
        height: 0.3rem;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
    }
}

/* MEDIA QUERIES */

@media (min-width: $md) {
    .btnMenu {
        display: none;
    }

    .midSectionNavbar {
        position: relative;
        height: auto;
        background: $bg-black;
        transition: none;
        flex-direction: row;
        width: max-content  ;
        .listNavbar {
            flex-direction: row;
            gap: 5rem;
            a {
                font-size: $text-normal;
            }
        }
    }

    .socialBarNav {
        transform: translateY(5px);
    }
}
