@use './colors' as *;
@use './typo' as *;
@use './breakpoint' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: $text-font;
    background: $bg-black;
    color: $color-white;
    font-size: $text-normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.titleSection {
    font-size: $h3-size;
    font-family: $title-font;
    margin-bottom: 1rem;
    @media (min-width: $md) {
        font-size: $h2-size;
    }
}
