// colors
$color-white: #f3f2f4;
$primary: #f958f9;
$secondary: #2e192e;
$accent: #f60e82;
$gradient: linear-gradient(25deg, $primary, $accent);
$bg-black: #0f051d;
$green: rgb(59, 241, 114);
$red: rgb(243, 38, 38);
