@use '../global' as *;

.homepageContainer {
    display: flex;
    justify-content: center;
}

.homepage {
    width: 100svw;
    max-width: 60em;
    margin: 3rem;
    background: transparent;
}

.hero {
    h1 {
        font-family: $title-font;
        font-size: $h3-size;

        span {
            background: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        margin-top: 1rem;
        color: $color-white;
        font-size: $text-normal;
    }

    .btnHomePage {
        margin-top: 2rem;
        margin-bottom: 4rem;
        position: relative;
        width: 100%;
        max-width: 50rem;
        padding-left: 1rem;
        padding-right: 1rem;

        input {
            font-size: $text-mini;
            font-family: $text-font;
            height: 4rem;
            width: 100%;
            padding-right: 13rem;
            padding-left: 1rem;
            border-radius: 5px;
            border: none;
            box-shadow: 0px 0px 80px rgb(255, 255, 255, 0.5);

            &:focus {
                outline: none;
            }
        }

        button {
            font-family: $text-font;
            font-size: $text-mini;
            position: absolute;
            right: 1.5rem;
            top: 5px;
            padding: 0.7rem;
            padding-bottom: 0.1rem;
            border: none;
            border-radius: 5px;
            background: $primary;
            color: $bg-black;

            &:hover {
                filter: brightness(85%);
            }
        }

        p {
            white-space: nowrap;
            margin-top: 1rem;
            font-size: $text-mini;
        }
    }
}

.statsHomePage {
    display: grid;
    width: 100%;
    background-color: $secondary;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    div p:first-child {
        color: $primary;
    }
}

/* MEDIA QUERIES */
@media (min-width: $md) {
    .hero {
        h1 {
            font-size: $h1-size;
        }

        p {
            font-size: $h3-size;
            margin-bottom: 4rem;
        }
    }

    .statsHomePage div p:first-child {
        font-size: 3rem;
    }
}