@use '../global' as *;

.marketContainer {
    display: flex;
    justify-content: center;
}

.market {
    width: 100svw;
    max-width: 60em;
    margin: 3rem;
}

.bannerContentMarket {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $gradient;
}

.marketCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-bottom: 2px $color-white solid;

    &:hover {
        background-color: rgba($primary, 0.1);
    }

    img {
        width: 5rem;
        height: 5rem;
    }
}