@use '../global' as *;

.marketContainer {
    display: flex;
    justify-content: center;
}

.market {
    width: 100svw;
    max-width: 60em;
    margin: 3rem;

    h2 {
        margin-bottom: 1rem;
        font-size: $h3-size;
    }
}

.bannerContentMarket {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    background: $gradient;
    border-radius: 5px 5px 0px 0px;
}

.marketCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-bottom: 2px $color-white solid;
    padding: 1rem;
    &:hover {
        background-color: rgba($primary, 0.1);
    }

    img {
        width: 5rem;
        height: 5rem;
    }
}

.containerLoadingMarket {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80rem;
}