@use '../global' as *;

.joinUs {
    width: 100svw;
    height: 80svh;
    max-width: 60em;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    div {
        margin-bottom: 7rem;
        h1 {
            text-align: center;
            font-size: 7.5rem;
            margin-bottom: 2.5rem;
            span {
                font-weight: 800;
                background: $gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            text-align: center;
            font-size: $text-normal;
        }
    }

    a {
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        width: 25rem;
        border: none;
        border-radius: 10px;
        padding: 1rem;
        font-weight: 500;
        font-family: $title-font;
        font-size: $text-normal;
        background: $gradient;
        color: $color-white;
        text-transform: uppercase;
        box-shadow: 0px 0px 60px rgb(255, 255, 255, 0.5);

        &:hover {
            filter: brightness(1.2);
        }
    }
}
